{% extends 'ext.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="content">
  {% include 'alerts.html' %}
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="title">Change Password</h3>
        </div>
        <div class="card-body">
          <p class="color-black-opacity-5"> 
              
            Your password is now changed.</p>
            <p>You can login <a href="{% url 'account_login' %}" class="txt2">
                HERE
            </a></p>

            
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block year %}
  2020
{% endblock year %}
  
