{% extends 'base.html' %}
{% load static %}

{% block title %}
  Students
{% endblock title %}


{% block stu %}
  active
{% endblock stu %}

{% block top %}
    Students  
{% endblock top %}

{% block content %}

    
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            {% include 'alerts.html' %}
            <div class="card">
              <div class="card-header">
                <h5 class="title">Add New Student</h5>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% include 'form_errors.html' %}
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-4 pr-md-1">
                      <div class="form-group">
                        <label for="id_first_name">First name *</label>
                        <input type="text" name="first_name" value="{{object.first_name}}" maxlength="120" class="form-control" placeholder="First Name" required="" id="id_first_name">
                      </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                      <div class="form-group">
                        <label for="id_last_name">Last name *</label>
                        <input type="text" name="last_name" value="{{ object.last_name }}" maxlength="120" class="form-control" placeholder="Last Name" required="" id="id_last_name">
                      </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                      <div class="form-group">
                        <label for="id_gender">Gender *</label>
                        <select name="gender" class="form-control" required="" id="id_gender">
                          <option value="" selected="">Please Select Gender *</option>
                        
                          <option value="Male">Male</option>
                        
                          <option value="Female">Female</option>
                        
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-md-1">
                      <div class="form-group">
                        <label for="id_date_of_birth">Date of birth *</label>
                        <input type="date" class="form-control" value="{{object.date_of_birth}}" name="date_of_birth" required="" id="id_date_of_birth">
                      </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                      <div class="form-group">
                        <label for="id_blood_group">Blood group *</label>
                        <input type="text" class="form-control" value="{{ object.blood_group }}" name="blood_group" maxlength="50" required="" id="id_blood_group">
                      </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                      <div class="form-group">
                        <label for="id_religion">Religion *</label>
                        <input type="text" name="religion" class="form-control" value="{{ object.religion }}" maxlength="50" required="" id="id_religion">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-md-1">
                      <div class="form-group">
                        <label for="id_email">Email *</label>
                        <input type="email" class="form-control" name="email" value="{{ object.email }}" placeholder="someone@email.com" maxlength="254" required="" id="id_email">
                      </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                      <div class="form-group">
                        <label for="id_student_class">Student class:</label>
                        <select name="student_class" required class="form-control" id="id_student_class">
                          {% for class in classes %}
                          <option value="{{ class.id }}">{{ class.name }}</option>
                          {% endfor %}
                        
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                      <div class="form-group">
                        <label for="id_phone">Phone *</label>
                        <input type="text" class="form-control" value="{{ object.phone }}" name="phone" maxlength="50" required="" id="id_phone">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="id_short_BIO">Short BIO *</label>
                        <textarea name="short_BIO" cols="80" rows="4" class="form-control" id="id_short_BIO">{{ object.short_BIO }}</textarea>
                      </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                      <div class="">
                        <label for="id_upload_student_photo">Upload student photo *</label> <br>
                        {% if object.upload_student_photo %} 
                        <small>Currently: <a href="{{ object.upload_student_photo.url }}">{{ object.upload_student_photo }}</a></small>
                        {% endif %}
                        <input type="file" name="upload_student_photo" accept="image/*" id="id_upload_student_photo">
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}