{% if messages %}
{% for message in messages %}
  <div class="alert {% if 'success' in message.tags %}alert-success{% elif 'warning' in message.tags %}alert-warning{% elif 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
    <p><strong>
      {% if 'success' in message.tags %}
        Success:
      {% elif 'warning' in message.tags %}
        Warning:
      {% elif 'error' in message.tags %}
        Error:
      {% endif %}
    </strong>
      {{message}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
{% endif %}